<% include partials/header %>
<% include partials/all_menu %>

  <!-- THEME / PLUGIN CSS -->
  <link rel="stylesheet" href="js/vendors/slick/slick.css">
  <link rel="stylesheet" href="css/about_us.css">
  
        <!-- Home -->
        <div class="intro intro3">
            <div class="container">
                <div class="row center-content">
                    <div class="col-md-5 col-sm-6">
                        <h3>About Us</h3>
                        <p> India’s 1st Healthy Soup Based Meal Brand, Offering 99 + varieties of soups, Freshly prepared Soups curated by renowned Chefs and Nutritionists.</p>
                        <div class="space30"></div>
                        <!--<div class="dual-btn">
                            <a href="#explore" class="btn btn-lg btn-primary page-scroll">Subscribe Now <span class="fa fa-shopping-basket"></span></a> &nbsp; &nbsp;-->
                            <a href="#about" class="btn btn-lg btn-default btn-border page-scroll">Learn More <i class=" ilmosys-arrow-right"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

       
        <!-- About Us -->
        <div id="explore" class="elements-content">
            <div class="container">
                <div class="about-inline text-center">
                    <h3>Our Team</h3>
                </div>
				
                <div class="row">
			        <div class="col-md-6">
                        <div class="card card-product">
                            <div class="img-wrap"><img src="images/about_us/Uttam.JPG" alt="img" style="width: 250px; "></div>
                            <div class="info-wrap">
                                <center><h4 class="title"><a href= "https://www.linkedin.com/in/uttam-kumar-63a7aa165/">Uttam Kumar 
                                    <i class="fa fa-linkedin-square" style="font-size:24px"></i></a>
                                    <p class="desc">Co-Founder <a href="https://mail.google.com">(uttam@soupx.in)</a></p></h4>
                                    <p class="desc">Technology & Operations at SoupX</p>
                                    <div class="price-wrap h3">
                                        <span style="font-size:50%;" class="price-new">B.Tech from Indian Institute of Information Technology (IIIT), Jabalpur <br/></span> 
                                        <span style="font-size:50%;" class="price-new">Summer Exchange Program in Entrepreneurship from ISB, Hyderabad <br/></span> 
                                        <!-- <span style="font-size:50%;" class="price-new">A tech-enthusiast and a coding-expert <br/></span>  -->
                                        <!-- <span style="font-size:50%;" class="price-new">• Founded startup HostContry (an end-to-end tech service provider) prior to starting SoupX <br/></span>  -->
                                        <!-- <span style="font-size:50%;" class="price-new">• A Founded venture Frato – specializing in fresh multifarious fruits in IIIT campus <br/></span>  -->
                                        <span style="font-size:50%;" class="price-new">A serial entrepreneur- prior to SoupX, has over 3 years of experience creating companies in tech and healthcare sectors<br/></span> 
                                    </div>
                                </center>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-product">
                            <div class="img-wrap"><img src="images/about_us/Priyank.JPG" alt="img" style="width: 250px; "></div>
                            <div class="info-wrap">
                                <center><h4 class="title"><a href=https://www.linkedin.com/in/priyank-jain-01202ab2/>Priyank Jain
                                    <i class="fa fa-linkedin-square" style="font-size:24px"></i></a> 
                                    <p class="desc">Co-Founder <a href="https://mail.google.com"> (priyank@soupx.in)</a></p> </h4>
                                    <p class="desc">Strategy, Finance & Marketing at SoupX </p>
                                    <div class="price-wrap h3">
                                        <span style="font-size:50%;" class="price-new">MBA from Indian Institute of Foreign Trade (IIFT), New Delhi <br/></span> 
                                        <span style="font-size:50%;" class="price-new"> 3+ years corporate experience with Goldman Sachs (Treasury) and Deloitte<br/></span> 
                                        <span style="font-size:50%;" class="price-new">Core team member of Entrepreneurship Cell promoted by DST, Govt. of India <br/></span> 
                                       
                                        <!-- <span style="font-size:50%;" class="price-new">• Actively participates in debates, conclaves, idea presentations and has won laurels at international level <br/></span> -->
                                    </div>
                                </center>
                            </div>
                           
                        </div>
                    </div>
					
                </div>
				
            </div>
        </div>
		
		
		<div id="explore" class="elements-content">
            <div class="container">
                <div class="about-inline text-center">
                    <!-- <h3>Our Team </h3> -->
                </div>
				
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-product">
                            <div class="img-wrap"><img src="images/about_us/1.jpeg" alt="img" style="width: 250px;  " ></div>
                            <div class="info-wrap">
                                <center><h4 class="title"> <a href="https://www.linkedin.com/in/gowri-bhatnagar/">Gowri Bhatnagar
                                    <i class="fa fa-linkedin-square" style="font-size:24px"></i></a>
                                    <p class="desc">Head of Nutrition (gowri@soupx.in)</p></h4>
                                    
                                    
                    
                                    <div class="price-wrap h3">
                                        <span style="font-size:50%;" class="price-new"> A public health nutrition expert with a Masters degree in Food and Nutrition from Lady Irwin College, University of Delhi<br/></span> 
                                    </div> 
                                </center>
                                <!-- <div class="price-wrap h3">
                                    <span style="font-size:50%;" class="price-new">• Uses her nutrition blog on Instagram @beyondcalories to impart nutrition education <br/></span> 
                                    <span style="font-size:50%;" class="price-new">• Has a keen interest in Maternal and Child nutrition <br/></span> 
                                    <span style="font-size:50%;" class="price-new">• Driven by the will to contribute to eradicate hunger globally and reduce the burden of malnutrition <br/></span> 
                                    
                                </div> -->
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-product">
                            <div class="img-wrap"><img src="images/about_us/2.jpeg" alt="img"style="width: 250px;height: 250px; "></div>
                            <div class="info-wrap">
                                <center><h4 class="title">
                                            <a href="https://www.linkedin.com/company/smartkitchen-co/">Ashish Mittal 
                                            <i class="fa fa-linkedin-square" style="font-size:24px"></i>
                                            </a>
                                        </h4>
                                        <p class="desc"> Mentor (ashish@soupx.in)   
                                        <!-- <a href="mailto:ashish@soupx.in"><i class="fa fa-envelope" style="font-size:18px"></i></a> -->
                                        </p>
                                        <div class="price-wrap h3">
                                            <span style="font-size:50%;" class="price-new">Founder & CEO at Smart Kitchen Company - hive based, multibrand, independent kitchen infrastructure provider <br/></span> 
                                        </div>  
                                </center>
                              
                            </div>
                           
                        </div>
                    </div>
					<div class="col-md-4">
                        <div class="card card-product">
                            <div class="img-wrap"><img src="images/about_us/Princy Jain.jpeg" alt="img" style="width: 250px; height: 250px;  "></div>
                            <div class="info-wrap">
                                <center><h4 class="title"><a href="https://www.linkedin.com/in/princyjain/">Princy Jain
                                    <i class="fa fa-linkedin-square" style="font-size:24px"></i></a></h4>
                                        <p class="desc"> Dietician
                                            <!-- <i class="fa fa-envelope" style="font-size:18px"></i> -->
                                        </p>
                                    <!-- <p class="desc"> A popular fitness influencer with a family of 8L on YouTube and 3L on Instagram </p></center> -->
                                    <div class="price-wrap h3">
                                        <span style="font-size:50%;" class="price-new">A clinical dietitian & a diabetes educator, she advises on the nutrition space and also handle social media.<br/></span> 
                                        <!-- <span style="font-size:50%;" class="price-new">• Her videos on YouTube have garnered over 29 million views and are viewed in 160 countries <br/></span>  -->
                                    </div>
                                </center>
                            </div>
                           
                        </div>
                    </div>
					
                </div>
				
            </div>
        </div>
		
        <div id="about" class="container">
            <!-- About Section 1 -->
            <div class="intro intro-about2">
                <div class="container">
                    <div class="row center-content">
                        <div class="col-md-7 ">
                            <img src="images/2121x1414.jpg" class="pull-left img-responsive" alt="" />
                        </div>
                        <div class="col-md-5">
                            <!-- <h3>We pride ourselves on making real food from the best ingredients.</h3> -->
                            <p>
							    "As India’s first soup-based healthy meal brand, we at SoupX are on a revolution to offer truly healthy and fresh meals at an affordable price that will help people transition seamlessly to a healthy lifestyle. Our nutritionists and chefs from renowned institutions have specially formulated over a 100 healthy soup recipes, which are served with our unique healthy sides to offer a complete meal replacement option. Whether weight loss or muscle gain or diabetic-friendly or just general wellness, we have got you covered!"
					        </p>
							<!-- <a href="#" class="btn btn-lg btn-primary">Learn More <i class="icon-arrow-right"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- About Section 2 -->
            <div class="intro intro-about2">
                <div class="container">
                    <div class="row center-content">
                        <div class="col-md-5">
                            <!-- <h3>We make everything by hand with the best possible ingredients.</h3> -->
                            <strong>MEAL</strong>: We provide calorie-counted single meal replacement plans. Healthy soups are served along with healthy sides like salads, veggie bowls, sandwiches, whole-wheat garlic breads, soup sticks to provide a complete meal. We do not repeat our soups in your plan.
							<br/><br/>
							<strong>NUTRITION</strong>: Meals are customized by a nutritionist who assures your lifestyle, health requirements, eating habits and nutritional needs to achieve your health goal. The exact calorific intake is shared with you for each meal.
							<br/><br/>
							<strong>HEALTH GOALS</strong>: We deliver Low Carb, High Protein, Detox, General Wellness, Vegan, Keto-friendly and Diabetic-friendly meal plan.
							<br/><br/>
							<strong>FLEXIBILITY</strong>: We provide flexibility in terms of pausing or cancelling your meals, food and delivery preferences subject to our guidelines.
                            <!-- <div class="space30"></div> -->
							<!-- <a href="#" class="btn btn-lg btn-primary">Learn More <i class="icon-arrow-right"></i></a> -->
                        </div>
                        <div class="col-md-7">
                            <img src="images/700x485.jpg" class="pull-left img-responsive" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
		


        <!-- <div class="space100"></div> -->

<% include partials/footer %>
