<% include partials/header %> 
<% include partials/all_menu %>
<style>
    @media only screen and (max-width: 600px) {
        #lead{
            padding: 5px !important;
        }
        
    }
    .form-control{
        font-size: 18px !important;
    }
</style>

<div class="card" style="padding: 5%; box-shadow: 2px 2px 17px 2px #1b1a1aa6; width: fit-content; margin: auto; margin-top: 20px; margin-bottom: 20px;">
    <div class="card-body">
        <div id="step_1">
            <h4 class="card-text" style="text-align: center;">Please enter your details to continue</h4>
          <div class="form-group">
            <form >
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your phone number (without country code)" onkeypress="return onlyNumberKey(event)" maxlength="11"  required/>
                
                <button id="save-lead" class="btn btn-primary" style="font-size: 21px; border: none; background-color: #4caf50; color: white; float: right; min-width: -webkit-fill-available; border-radius: 6px; margin-top: 10px; padding: 1%; padding-bottom: 2%; padding-top: 2%;" onclick="save_lead();return false;">Save & Continue</button>
            <p id="responseMsg" style="font-size: 12px; margin-top: 69px; padding: 0px 25px; text-align: center;">By proceeding, you are agree to Soupx's <a target="_blank" href="/privacy-policy">Privacy Policy</a> and <a href="/terms-and-conditions" target="_blank">Terms & Conditions</a>.</p>
          </div>
        </form>

        </div>
        <div id="step_2" style="display: none;">
            <h4 class="card-text" style="text-align: center;">Please enter the OTP to continue</h4>
            <div class="form-group">
                <input type="hidden" id="leadId">
                <input type="text" maxlength="4" class="form-control" id="otp" placeholder="Enter the 4 digit one time password" onkeypress="return onlyNumberKey(event)">
            </div> 
            <!-- <a href="https:explore.soupx.in" > -->
                <button id="skip" class="btn btn-danger" style="font-size: 18px; border: none; color: #645353; float: left; min-width: 22%; margin-right:2%; border-radius: 6px; padding: 1%; padding-bottom: 1%; padding-top: 1%;" onclick="redirect_explore(); return false;">Skip</button>
            <!-- </a> -->
            
            <!-- style="font-size: 18px; border: none; color: #645353; float: left; min-width: 22%; border-radius: 6px; padding: 2%; padding-bottom: 2%; padding-top: 2%;" -->
            
            
            <button id="verify-lead" class="btn btn-primary" style="font-size: 18px; border: none; background-color: #4caf50; color: white; float: right; min-width: 22%; margin-right:2%; border-radius: 6px; padding: 1%; padding-bottom: 1%; padding-top: 1%;" onclick="verify_lead(); return false;">Verify</button>
            
      
        </div>
    </div>
</div>



<script>
    function onlyNumberKey(evt) {
          
        // Only ASCII character in that range allowed
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }
</script>

<script>
   
    function save_lead(event){
    
        var phone = document.getElementById("phone").value;
        // console.log(phone);

        if(phone == ''){
            alert('Please enter a phone number to continue.');
            return;
        }
        if(phone.length<10){
            alert('Please enter a valid phone number.');
            
            return;
        }
        
        var data = {phone:phone, name:"sajal"}

        const response = fetch("/leads", {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(data)
            });
        // document.getElementById("phone").value = phone;
        document.getElementById("step_2").style.display = "block";
        document.getElementById("step_1").style.display = "none";
        
    }

    function verify_lead(){
        var phone = document.getElementById("phone").value;
        var otp = document.getElementById("otp").value;

        if(otp == ''){
            alert('Please enter one time password to continue.');
            return;
        }
        if(otp.length<4){
            alert('Please enter a valid one time password.');
            return;
        }
        
        var data = {phone:phone, otp:otp}

           const response = fetch("/verify_lead", {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            document.getElementById("verify-lead").style.display = "none";
            var elem = document.getElementById("skip");
            elem.innerHTML = 'Next';
            elem.style.background = '#4caf50' ;
            elem.style.color = 'white';
            elem.style.float = 'right';

        
    }

    function redirect_explore(){
        // window.location.replace("https:explore.soupx.in");
        window.location.replace("/explore_menu");
    }
</script>


<% include partials/footer %> 