<% include partials/header %> 
<% include partials/all_menu %> 	
	<main class="bg_gray pattern">		
		<div class="container margin_60_40">
            <div id="privacypolicy-output">
<h1 align="center">Frequently Asked Questions</h1>
<ul>
<li>Q : I am unable to place order?<br>A : While we have try to put in best program and algorithms, we are unsure about your exact problem for any search problem or issues you can E-mail or screenshot at <a href="mailto:hello@soupx.in"><u>hello@soupx.in</u></a>.</li>
<li>Q : Do you charge for delivery?<br>A : Order above Rs. 100/- have free delivery. For lesser value orders delivery charges are Rs. 20/- delivery</li>
<li>Q : What are your delivery hours?<br>A : Open 7:30 AM and closes 10:30 PM.</li>
<li>Q : How long do you take to deliver?<br>A : Our promise delivery time is 60 min on time for the ordering.</li>
<li>Q : Can I order from any location?<br>A : Within our service area are serving up to 10km from ring road.</li>
<li>Q : Do you support bulk orders?<br>A : We serve corporate government organization and institute.</li>
<li>Q : How can I cancel my order?<br>A : Order cancelation is permitted.</li>
<li>Q : Is there a minimum order value?<br>A : No.</li>
<li>Q : Can I place my order with specific delivery time?<br>A : No, as of now we do not have any provision for schedule delivery however we have long service of now 7:30 AM to 10:30 PM.</li>
<li>Q : What are the available mode of payments on soupx?<br>A : We accepted all popular payment like &ndash; Cards, UPI, Wallet, Paytm, Net banking, EMI.</li>
<li>Q : How can I connect with soupx team?<br>A : soupx team is accessible at <a href="mailto:hello@soupx.in"><u>hello@soupx.in</u></a></li>
</ul>
</div>
</div>
</main>
<% include partials/footer %> 