<% include partials/header %> 
<% include partials/all_menu %>

 <div class="hero_single version_1">
	<div class="opacity-mask">
		<div class="container">
			<div class="row justify-content-lg-center justify-content-md-center">
				<div class="col-xl-7 col-lg-8">
					<h1>SoupX - Sip of Health</h1>
				<p>Soup-based meals 
					<span class="element" style="font-weight: 500"></span>
					<span class="auto-type" style="font-weight: 500" ></span>
					<span class="typed-cursor typed-cursor--blink"></span>
					<!-- .typed-cursor.typed-cursor--blink {
						animation: typedjsBlink 0.7s infinite;
						-webkit-animation: typedjsBlink 0.7s infinite;
						animation: typedjsBlink 0.7s infinite;
					} -->
				</p>
					<form method="post" action="grid-listing-filterscol.html">
						<div class="row no-gutters custom-search-input">
							
							<div class="col-lg">
								<div class="form-group" style="margin-bottom: -30px !important;">
									<input class="form-control no_border_r" id="autocomplete" placeholder="Enter your address" style="margin-top: -1%;">
									<a id="detect_location"><i class="icon_pin_alt"></i></a>
								</div>
								<table id="address" style="display: none;">
									<tr>
									  <td class="label">Street address</td>
									  <td class="slimField"><input class="field" id="street_number" disabled="true"/></td>
									  <td class="wideField" colspan="2"><input class="field" id="route" disabled="true"/></td>
									</tr>
									<tr>
									  <td class="label">City</td>
									  <td class="wideField" colspan="3"><input class="field" id="locality" disabled="true"/></td>
									</tr>
									<tr>
									  <td class="label">State</td>
									  <td class="slimField"><input class="field" id="administrative_area_level_1" disabled="true"/></td>
									  <td class="label">Zip code</td>
									  <td class="wideField"><input class="field" id="postal_code" disabled="true"/></td>
									</tr>
									<tr>
									  <td class="label">Country</td>
									  <td class="wideField" colspan="3"><input class="field" id="country" disabled="true"/></td>
									</tr>
								  </table>
							</div>
							<div class="col-lg-3">
								<a href='https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery' class="btn_1 full-width mb_5" style="margin-top: 3%; border: 1px solid #0d4f09;">Order Now</a>
							</div> 
							 
							<div class="col-sm" style="max-width: 1.33%;">&nbsp;</div>
							<div class="col-lg-3">
								<a href='https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery' class="btn_1 full-width mb_5" style="margin-top: 3%; border: 1px solid #0d4f09;">Try Subscription</a>
							</div>
							<!-- <div class="col-lg-4">
								<a href='https://subscription.soupx.in/' class="btn_1 full-width mb_5" style="margin-top: 3%; background-color: #0d4f09; border: 1px solid #0d4f09;">Try Subscription</a>
							</div> -->
						</div>
			
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


 <div class="container margin_60_40">
				
	<div class="container margin_30_60">
		<div class="main_title center">
			<span><em></em></span>
			<h2>Popular Categories</h2>
		</div>
		<!-- /main_title -->

		<div class="row justify-content-center">
			
			<div class="item_version_2 col-lg">
				<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
				<figure>
				<img src="img/new-upload/top-categories/1.png" data-src="img/new-upload/top-categories/1.png" alt="" class="owl-lazy">
				<div class="info">
				<h3>Soups</h3>
				<!-- <small>5 Dishes</small> -->
				</div>
				</figure>
				</a>
			</div>
			
			<div class="item_version_2 col-lg">
				<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
				<figure>
				<img src="img/new-upload/top-categories/5.png" data-src="img/new-upload/top-categories/5.png" alt="" class="owl-lazy">
				<div class="info">
				<h3>Salads</h3>
				<!-- <small>5 Dishes</small> -->
				</div>
				</figure>
				</a>
			</div>
			
			<div class="item_version_2 col-lg">
				<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
				<figure>
				<img src="img/new-upload/top-categories/2.png" data-src="img/new-upload/top-categories/2.png" alt="" class="owl-lazy">
				<div class="info">
				<h3>Healthy Sandwiches</h3>
				<!-- <small>5 Dishes</small> -->
				</div>
				</figure>
				</a>
			</div>
			
			<!--<div class="item_version_2">
				<a href="menu.html">
					<figure>
						<img style="height:270px;" src="img/t/dish-1.jpeg" data-src="img/t/dish-1.jpeg" alt="" class="owl-lazy">
						<div class="info">
							<h3>Super Saver Deals</h3>
							<small>5 Dishes</small>
						</div>
					</figure>
				</a>
			</div>
			<div class="item_version_2">
				<a href="menu.html">
					<figure>
						<img style="height:270px;" src="img/t/dish-1.jpeg" data-src="img/t/dish-1.jpeg" alt="" class="owl-lazy">
						<div class="info">
							<h3>Best of 2021</h3>
							<small>5 Dishes</small>
						</div>
					</figure>
				</a>
			</div>-->
		</div>
		<div class="row justify-content-center">
			
			<div class="item_version_2 col-lg">
				<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
				<figure>
				<img src="img/new-upload/top-categories/6.png" data-src="img/new-upload/top-categories/6.png" alt="" class="owl-lazy">
				<div class="info">
				<h3>Whole Wheat Pasta</h3>
				<!-- <small>5 Dishes</small> -->
				</div>
				</figure>
				</a>
			</div>
			
			<div class="item_version_2 col-lg">
				<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
				<figure>
				<img src="img/new-upload/top-categories/3.png" data-src="img/new-upload/top-categories/3.png" alt="" class="owl-lazy">
				<div class="info">
				<h3>Healthy Smoothies</h3>
				<!-- <small>5 Dishes</small> -->
				</div>
				</figure>
				</a>
			</div>
			
			<div class="item_version_2 col-lg">
				<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
				<figure>
				<img src="img/new-upload/top-categories/4.png" data-src="img/new-upload/top-categories/4.png" alt="" class="owl-lazy">
				<div class="info">
				<h3>Oatmeal</h3>
				<!-- <small>5 Dishes</small> -->
				</div>
				</figure>
				</a>
			</div>
			<!--<div class="item_version_2">
				<a href="menu.html">
					<figure>
						<img style="height:270px;" src="img/t/dish-1.jpeg" data-src="img/t/dish-1.jpeg" alt="" class="owl-lazy">
						<div class="info">
							<h3>Super Saver Deals</h3>
							<small>5 Dishes</small>
						</div>
					</figure>
				</a>
			</div>
			<div class="item_version_2">
				<a href="menu.html">
					<figure>
						<img style="height:270px;" src="img/t/dish-1.jpeg" data-src="img/t/dish-1.jpeg" alt="" class="owl-lazy">
						<div class="info">
							<h3>Best of 2021</h3>
							<small>5 Dishes</small>
						</div>
					</figure>
				</a>
			</div>-->
		</div>
		<!-- /carousel -->
	</div>
		<!-- /container -->

		<div class="bg_gray">
			<div class="container margin_60_40">
				<div class="main_title">
					<span><em></em></span>
					<h2>Top Rated Dishes</h2>
					<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">View All &rarr;</a>
				</div>
				<div class="row add_bottom_25">
					<div class="col-lg-6">
						<div class="list_home">
							<ul>
								<li>
									<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
										<figure>
											<img src="img/new-upload/top-dishes/oat-red-pepper-soup.png" data-src="img/new-upload/top-dishes/oat-red-pepper-soup.png" alt="" class="lazy" width="350" height="233">
										</figure>
										<div class="score"><strong>4.7</strong></div>
										<em>Protein Rich Soups</em>
										<h3>Oats And Roasted Red Pepper Soup</h3>
										<p><small>Energy (kcal): 210, Protein(g): 6.5, Carbs(g): 24.8, Fat(g):6</small></p>
										<ul>
											<li><span class="ribbon off">-20%</span></li>
											<li>Price ₹189</li>
										</ul>
									</a>
								</li>
								<li>
									<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
										<figure>
											<img src="img/new-upload/top-dishes/smoked-chicken-soup.png" data-src="img/new-upload/top-dishes/smoked-chicken-soup.png" alt="" class="lazy" width="350" height="233">
										</figure>
										<div class="score"><strong>4.3</strong></div>
										<em>Protein Rich Soups</em>
										<h3>Smoked Chicken Soup</h3>
										<small>Energy(kcal): 280, Protein(g): 21.2, Carbs(g): 16 Fats(g): 6</small>
										<ul>
											<li><span class="ribbon off">-20%</span></li>
											<li>Price ₹229</li>
										</ul>
									</a>
								</li>
								<li>
									<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
										<figure>
											<img src="img/new-upload/top-dishes/tiryaki-salad.png" data-src="img/new-upload/top-dishes/tiryaki-salad.png" alt="" class="lazy" width="350" height="233">
										</figure>
										<div class="score"><strong>4.5</strong></div>
										<em>Salads</em>
										<h3>Grilled Teriayki Chicken Salad</h3>
										<small>Your love for proteins, vitamins and minerals is served in this one full package.</small>
										<ul>
											<li><span class="ribbon off">-20%</span></li>
											<li>Price ₹219</li>
										</ul>
									</a>
								</li>
								<li>
									<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
										<figure>
											<img src="img/new-upload/top-dishes/lung-fung-soup.png" data-src="img/new-upload/top-dishes/lung-fung-soup.png" alt="" class="lazy" width="350" height="233">
										</figure>
										<div class="score"><strong>4.9</strong></div>
										<em>Protein Rich Soups</em>
										<h3>Lung Fung Chicken Soup</h3>
										<small>Energy(kcal): 205, Protein(g): 22.9, Carbs(g): 1.6, Fat(g):12</small>
										<ul>
											<li><span class="ribbon off">-20%</span></li>
											<li>Price ₹229</li>
										</ul>
									</a>
								</li>
								
							</ul>
						</div>
					</div>
					<!-- <div class="col-lg-6">
						<div class="list_home">
							<ul>
								<li>
									<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
										<figure>
											<img src="img/new-upload/top-dishes/red-lentil-soup.png" data-src="img/new-upload/top-dishes/red-lentil-soup.png" alt="" class="lazy" width="350" height="233">
										</figure>
										<div class="score"><strong>4.6</strong></div>
										<em>Vegan Soups</em>
										<h3>Hearty Lentil Soup</h3>
										<small>Energy (kcal):88,Protein (g):6.2,Carbs (g): 14.3 ,Fat (g):0<br/><br/></small>
										<ul>
											<li><span class="ribbon off">-20%</span></li>
											<li>Price ₹169</li>
										</ul>
									</a>
								</li>
								<li>
									<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
										<figure>
											<img src="img/new-upload/top-dishes/lotus-root-walnut.png" data-src="img/new-upload/top-dishes/lotus-root-walnut.png" alt="" class="lazy" width="350" height="233">
										</figure>
										<div class="score"><strong>4.8</strong></div>
										<em>Vegan Soups</em>
										<h3>Lotus Root And Walnut Soup</h3>
										<small>Energy (kcal):246,Protein (g): 6.5,Carbs (g):13.9,Fat (g):19.3</small>
										<ul>
											<li><span class="ribbon off">-20%</span></li>
											<li>Price ₹189</li>
										</ul>
									</a>
								</li>
								<li>
									<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
										<figure>
											<img src="img/new-upload/top-dishes/oats-cottage-cheese.png" data-src="img/new-upload/top-dishes/oats-cottage-cheese.png" alt="" class="lazy" width="350" height="233">
										</figure>
										<div class="score"><strong>3.9</strong></div>
										<em>Sandwiches</em>
										<h3>Masala Oats Cottage Cheese Sandwich</h3>
										<small>Serves in Whole Wheat Bread ,Extremely fulfulling crunchy wrap to quench your healthy cravings and happiness.</small>
										<ul>
											<li><span class="ribbon off">-20%</span></li>
											<li>Price ₹189</li>
										</ul>
									</a>
								</li>
							</ul>
						</div>
					</div> -->
					<div class="col-lg-6">
						<div class="list_home">
							<ul>
								<li>
									<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
										<figure>
											<img src="img/new-upload/top-dishes/red-lentil-soup.png" data-src="img/new-upload/top-dishes/red-lentil-soup.png" alt="" class="lazy" width="350" height="233">
										</figure>
										<div class="score"><strong>4.7</strong></div>
										<em>Vegan Soups</em>
										<h3>Hearty Lentil Soup</h3>
										<p><small>Energy (kcal): 88, Protein(g): 6.2, Carbs(g): 14.3, Fat(g):0</small></p>
										<ul>
											<li><span class="ribbon off">-20%</span></li>
											<li>Price ₹169</li>
										</ul>
									</a>
								</li>
								<li>
									<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
										<figure>
											<img src="img/new-upload/top-dishes/oats-cottage-cheese.png" data-src="img/new-upload/top-dishes/oats-cottage-cheese.png" alt="" class="lazy" width="350" height="233">
										</figure>
										<div class="score"><strong>3.9</strong></div>
										<em>Sandwiches</em>
										<h3>Masala Oats Paneer Sandwich</h3>
										<small>Serves in Whole Wheat Bread, extremely fulfilled crunchy wrap to quench your healthy cravings.</small>
										<ul>
											<li><span class="ribbon off">-20%</span></li>
											<li>Price ₹189</li>
										</ul>
									</a>
								</li>
								<li>
									<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
										<figure>
											<img src="img/new-upload/top-dishes/lotus-root-walnut.png" data-src="img/new-upload/top-dishes/lotus-root-walnut.png" alt="" class="lazy" width="350" height="233">
										</figure>
										<div class="score"><strong>4.8</strong></div>
										<em>Salads</em>
										<h3>Vegan Soup</h3>
										<small>Energy(kcal): 246, Protein(g): 6.5, Carbs(g): 13.9 Fats(g): 19.3</small>
										<ul>
											<li><span class="ribbon off">-20%</span></li>
											<li>Price ₹189</li>
										</ul>
									</a>
								</li>
								<!-- <li>
									<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
										<figure>
											<img src="img/new-upload/top-dishes/smoked-chicken-soup.png" data-src="img/new-upload/top-dishes/smoked-chicken-soup.png" alt="" class="lazy" width="350" height="233">
										</figure>
										<div class="score"><strong>4.3</strong></div>
										<em>Protein Rich Soups</em>
										<h3>Smoked Chicken Soup</h3>
										<small>Energy(kcal): 280, Protein(g): 21.2, Carbs(g): 16 Fats(g): 6</small>
										<ul>
											<li><span class="ribbon off">-20%</span></li>
											<li>Price ₹229</li>
										</ul>
									</a>
								</li> -->
								
								
								
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
				<div class="banner lazy" data-bg="url(img/t/120-SM630159.jpg)">
					<div class="wrapper d-flex align-items-center opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.3)">
						<div>
							<small>SoupX Delivery</small>
							<h3>We Deliver to your Location</h3>
							<p>Enjoy a tasty food in minutes!</p>
							<a href="https://subscription.soupx.in/" class="btn_1 gradient">Try Subscription!</a>
						</div>
					</div>
					<!-- /wrapper -->
				</div>
				<!-- /banner -->
			</div>
		</div>
		<!-- /bg_gray -->
		<div class="shape_element_2">
			<div class="container margin_60_0">
				<div class="row flex-column-reverse flex-sm-row">
					
					<div class="col-lg-6 align-self-center">
						<div class="intro_txt">
							<div class="main_title">
								<span><em></em></span>
								<h2>Healthy can be inexpensive!</h2>
							</div>
							<p>SoupX, India's most economical healthy food brand, offers a variety of health-conscious and delicious treats to enliven you. For a budget-friendly yet luscious bites, SoupX can be the one-stop solution to your specific wellness desires. Since good health is about 80% diet and 20% exercise, so be a part of SoupX-led  'Eat Right and Precise' revolution to realise your fullest potential.</p>
							
							<!-- <p><a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery" class="btn_1 medium gradient pulse_bt mt-2">Get Started</a></p> -->
						</div>
						
					</div>
				
				
					<div class="col-lg-6">
						<div class="row flex-column-reverse flex-sm-row">
							<div class="col-lg-12">
								<div class="box_how">
									<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
									<figure><img src="img/lazy-placeholder-100-100-white.png" data-src="images/hp/1.jpeg" alt="" style="width:100%;" class="lazy"></figure>
								</a>
								</div>
							</div>
							
						</div>
						<!-- <p class="text-center mt-3 d-block d-lg-none"><a href="#0" class="btn_1 medium gradient pulse_bt mt-2">Register Now!</a></p> -->
					</div>
					
				</div>
				<div class="row">
					
						<div class="col-lg-6">
							<div class="row">
								<div class="col-lg-12">
									<div class="box_how">
										<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
											<figure><img src="img/lazy-placeholder-100-100-white.png" data-src="images/hp/2.jpeg" alt="" style="width:100%;" class="lazy"></figure>
										</a>
									</div>
								</div>
								
							</div>
							<!-- <p class="text-center mt-3 d-block d-lg-none"><a href="#0" class="btn_1 medium gradient pulse_bt mt-2">Register Now!</a></p> -->
						</div>
					
					<div class="col-lg-6 align-self-center">
						<div class="intro_txt">
							<div class="main_title">
								<span><em></em></span>
								<h2>Calorie Counted Meals</h2>
							</div>
							<p>All meals are calorie counted by expert nutritionists, that promises 
								health benefits and guaranteed to satisfy your taste buds! Since good
								 health is 80% diet and 20% exercise, be a part of SoupX-led 'Eat Right 
								 and Precise' revolution to become the best version of yourself. 
							</p>
							<!-- <p><a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery" class="btn_1 medium gradient pulse_bt mt-2">Order Now</a></p> -->
							
							<!-- <p><a href="/archive" class="btn_1 medium gradient pulse_bt mt-2">Get Started</a></p> -->
						</div>
						
					</div>
				
					
				</div>
				<div class="row">
					
					<div class="col-lg-6 align-self-center">
						<div class="intro_txt">
							<div class="main_title">
								<span><em></em></span>
								<h2>Customized Subscription Plans</h2>
							</div>
							<p>Our expert nutritionists evaluate your lifestyle, health requirements, dietary preference and nutritional needs to create a customized meal plan just for you. This comes at no extra cost!</p>
							
							<!-- <p><a href="https://subscription.soupx.in/" class="btn_1 medium gradient pulse_bt mt-2">Try Subscription</a></p> -->
						</div>
						
					</div>
				
				
					<div class="col-lg-6">
						<div class="row">
							<div class="col-lg-12">
								<div class="box_how">
									<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
										<figure><img src="img/lazy-placeholder-100-100-white.png" data-src="images/hp/5.jpeg" alt="" style="width:100%;" class="lazy"></figure>											
									</a>
								</div>
							</div>
							
						</div>
						<!-- <p class="text-center mt-3 d-block d-lg-none"><a href="#0" class="btn_1 medium gradient pulse_bt mt-2">Register Now!</a></p> -->
					</div>
					
				</div>
				<div class="row">
					
						<div class="col-lg-6">
							<div class="row">
								<div class="col-lg-12">
									<div class="box_how">
										<a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">
											<figure><img src="img/lazy-placeholder-100-100-white.png" data-src="images/hp/3.jpeg" alt="" style="width:100%;" class="lazy"></figure>
										</a>
									</div>
								</div>
								
							</div>
							<!-- <p class="text-center mt-3 d-block d-lg-none"><a href="#0" class="btn_1 medium gradient pulse_bt mt-2">Register Now!</a></p> -->
						</div>
					
					<div class="col-lg-6 align-self-center">
						<div class="intro_txt">
							<div class="main_title">
								<span><em></em></span>
								<h2>On-Demand Ordering</h2>
							</div>
							<p>Not sure if you are ready to start a healthy subscription plan? We've got you covered. Try on-demand ordering and order once to make an informed decision! 
							</p>
							
							<p><a href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery" class="btn_1 medium gradient pulse_bt mt-2">Order Now</a></p>
						</div>
						
					</div>
				
					
				</div>
			</div>
		</div>
		<!-- <div class="shape_element_2">
			<div class="container margin_60_0">
				<div class="row">
					<div class="col-lg-6">
						<div class="row">
							<div class="col-lg-6">
								<div class="box_how">
									<figure><img src="img/lazy-placeholder-100-100-white.png" data-src="img/new-upload/1.svg" alt="" width="150" height="167" class="lazy"></figure>
									<h5>Easy Order</h5>
									<p>Schedule Your Meals With Ease.</p>
								</div>
								<div class="box_how">
									<figure><img src="img/lazy-placeholder-100-100-white.png" data-src="img/new-upload/3.svg" alt="" width="130" height="145" class="lazy"></figure>
									<h5>Quick Delivery</h5>
									<p>Low Delivery Rates and Faster Delivery Guaranteed.</p>
								</div>
							</div>
							<div class="col-lg-6 ">
								<div class="box_how">
									<figure><img src="img/lazy-placeholder-100-100-white.png" data-src="img/new-upload/2.svg" alt="" width="150" height="132" class="lazy"></figure>
									<h5>Delicious Food</h5>
									<p>Fitness at the tip of your fingers Just minutes away from healthy food.</p>
								</div>
							</div>
						</div>
						<p class="text-center mt-3 d-block d-lg-none"><a href="#0" class="btn_1 medium gradient pulse_bt mt-2">Register Now!</a></p>
					</div>
					
				</div>
			</div>
		</div> -->
		<!-- /shape_element_2 -->
	</div>
</div>
	
</main>

<script src="https://unpkg.com/typed.js@2.0.15/dist/typed.umd.js"></script>
<script>
	var typed = new Typed(".auto-type", {
		strings: ["with no added preservatives"],
		typeSpeed: 75,
		backSpeed: 75,
		loop: true
	})
</script>

 <% include partials/footer %> 