<% include partials/header %> 
<% include partials/all_menu %> 
<main class="bg_gray pattern">		
    <div>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-xl-12 col-lg-12">
                    <p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Times New Roman","serif";text-align:center;'><strong><span style="font-size:60px;">Refund Policy</span></strong></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Times New Roman","serif";line-height:11.15pt;'><span style="font-size:16px;">&nbsp;</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Times New Roman","serif";'><span style="font-size:18px;">Thanks for subscribing to our services at https://soupx.in/ operated by SoupX.</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Times New Roman","serif";line-height:10.0pt;'><span style="font-size:16px;">&nbsp;</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Times New Roman","serif";line-height:10.0pt;'><span style="font-size:16px;">&nbsp;</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Times New Roman","serif";line-height:19.1pt;'><span style="font-size:16px;">&nbsp;</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Times New Roman","serif";margin-right:7.0pt;line-height:169%;'><span style="font-size:19px;line-height:169%;">We do not issue refunds for original purchase of the Contract. We encourage our customers to try the service in the demo session to ensure it fits your needs.&nbsp;</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Times New Roman","serif";margin-right:7.0pt;line-height:169%;'><span style="font-size:19px;line-height:169%;">&nbsp;</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Times New Roman","serif";margin-right:7.0pt;line-height:169%;'><span style="font-size:19px;line-height:169%;">If you have any additional questions or would like to request a refund, feel free to contact us.</span></p>
                    
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</main>
<% include partials/footer %>