<body>
				
	<header class="header_in clearfix">
		<div class="container">
		<div id="logo">
			<a href="/index">
				<img src="img/soupxlogo-transparent.png" style="height: 80px;" alt="">
			</a>
		</div>
		<ul id="top_menu">
			<li><a href="#sign-in-dialog" id="sign-in" class="" style="margin-top: 44%;"><img src="images/user-locked.png" style="max-width: 24px;"></a></li>
			<li><a href="wishlist.html" class="wishlist_bt_top" title="Your wishlist">Your wishlist</a></li>
		</ul>
	</div>
	</header>
	<!-- /header -->