<body>		
	<header class="header_in clearfix">
		<div class="container">
		<div id="logo">
			<a href="/">
				<img src="img/soupxlogo-transparent.png" style="height:80px;" alt="">
			</a>
		</div>
	
		
		<nav class="main-menu">
			<ul>
				<li><a href="https://subscription.soupx.in/">Subscription</a></li>
				<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSe7fR9Y2sXU76nIQ4_vCbgF3A6_Q3QiHWLvVzcTfGC4Aielvw/viewform">Franchise</a></li>
				<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc0golPieTaR6P6zoXyFjZbLIAbqMMTgxoKTE5qj_ExVjSgHg/viewform">Invest</a></li>
				<li><a href="about-us">About Us</a></li>
				
			</ul>
		</nav>
	</div>
	</header>
	<!-- /header -->