<footer>
    <style>        
        .add-pwa-button {
            position: absolute;
            top: 1px;
            left: 1px;
        }
        .wapp-float{
            position:fixed;
            width:60px;
            height:60px;
            bottom:60px;
            right:40px;
            background-color:#25d366;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            font-size:30px;
            box-shadow: 2px 2px 3px #999;
            z-index:100;
        }

        .my-wapp-float{
            margin-top:16px;
        }
    </style>
    <a href="https://api.whatsapp.com/send?phone=919289664517" class="wapp-float" target="_blank">
        <i class="fa fa-whatsapp my-wapp-float"></i>
        </a>
    <div class="wave footer"></div>
    <div class="container margin_60_40 fix_mobile">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h3 style="color:#ffffff;" data-target="#collapse_1">Quick Links</h3>
                <div class="collapse dont-collapse-sm links" id="collapse_1">
                    <ul>
                        <li><a style="color:#ffffff;" href="/about-us">About us</a></li>
                        <li><a style="color:#ffffff;" href="/">Blog</a></li>
                        <li><a style="color:#ffffff;" href="https://docs.google.com/forms/d/e/1FAIpQLSe7fR9Y2sXU76nIQ4_vCbgF3A6_Q3QiHWLvVzcTfGC4Aielvw/viewform">Invest</a></li>
                        <li><a style="color:#ffffff;" href="https://docs.google.com/forms/d/e/1FAIpQLSe7fR9Y2sXU76nIQ4_vCbgF3A6_Q3QiHWLvVzcTfGC4Aielvw/viewform">Franchise</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 style="color:#ffffff;" data-target="#collapse_2">Categories</h3>
                <div class="collapse dont-collapse-sm links" id="collapse_2">
                    <ul>
                        <li><a style="color:#ffffff;" href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">Vegan Soups</a></li>
                        <li><a style="color:#ffffff;" href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">Protein Rich Soups</a></li>
                        <li><a style="color:#ffffff;" href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">Gluten-Free Soups</a></li>
                        <li><a style="color:#ffffff;" href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">Keto Soups</a></li>
                        <li><a style="color:#ffffff;" href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">Salads</a></li>
                        <li><a style="color:#ffffff;" href="https://thrivenow.in/soupx-sip-of-health-all-outlets/select-outlet/delivery">Oatmeals</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                    <h3 style="color:#ffffff;" data-target="#collapse_3">Contact Us</h3>
                <div class="collapse dont-collapse-sm contacts" id="collapse_3">
                    <ul>
                        <li style="color:#ffffff;"><i class="icon_house_alt"></i>Delhi, India</li>
                        <li style="color:#ffffff;"><i class="icon_mobile"></i>+91 8577808028</li>
                        <li style="color:#ffffff;"><i class="icon_mail_alt"></i><a href="https://mail.google.com">contact@soupx.in</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                    <h3 style="color:#ffffff;" data-target="#collapse_4">Follow Us</h3>
                <div class="" id="">
                    
                    <div class="follow_us">
                        <!-- <h5 style="color:#ffffff;">Follow Us</h5> -->
                        <ul>
                            <li><a href="https://twitter.com/soupxIndia"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/twitter_icon.svg" alt="" class="lazy"></a></li>
                            <li><a href="#0"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/facebook_icon.svg" alt="" class="lazy"></a></li>
                            <li><a href="https://instagram.com/soupxindia"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/instagram_icon.svg" alt="" class="lazy"></a></li>
                            <li><a href="https://pin.it/hIoL0fs"><img src="img/pinterest.png" alt="" class="lazy"></a></li>
                            <li><a href="https://www.linkedin.com/company/soupx-sip-of-health/"><img src="img/linkedin-logo-2430.png" alt="" class="lazy"></a></li>
                            
                           
                        </ul>
                        <ul>
                            <li><a href="https://www.swiggy.com/amp-menu/restaurants/soupx-sip-of-health-sector-50-noida-1-458593"><img src="img/swiggy.jpeg" alt="" class="lazy"></a></li>
                            <li><a href="https://www.zomato.com/ncr/restaurants/soupx-sip-of-health"><img src="img/zomato.jpeg" alt="" class="lazy"></a></li>
                          
                        </ul>
                    </div>
                </div>
            </div>
        </div>
 
        <hr>
        <div class="row add_bottom_25">
            <div class="col-lg-2">
                
            </div>
            <div class="col-lg-10">
                <ul class="additional_links">
                    <li><a style="color:#ffffff;" href="/faq">FAQs</a></li>
                    <li><a style="color:#ffffff;" href="/terms-and-conditions">Terms and conditions</a></li>
                    <li><a style="color:#ffffff;" href="/privacy-policy">Privacy Policy</a></li>
                    <li><a style="color:#ffffff;" href="/refund-policy">Refund Policy</a></li>
                    <li><span style="color:#ffffff;">© 2022 SoupX by Mercuryrise Hospitality Private Limited. All Rights Reserved.</span></li>
                </ul>
            </div>
        </div>
    </div>
</footer>



<div class="layer"></div><!-- Opacity Mask Menu Mobile -->




<!-- COMMON SCRIPTS -->
<script src="js/common_scripts.min.js"></script>
<script src="js/common_func.js"></script>
<script src="assets/validate.js"></script>
<script src="js/singles/login.js"></script>

<!-- SPECIFIC SCRIPTS -->
<script src="js/modernizr.min.js"></script>
<script src="js/video_header.min.js"></script>
<script src="js/singles/menu.js"></script>
<script>
    if ("serviceWorker" in navigator) {
    navigator.serviceWorker
      .register("/service-worker.js")
      .then(function (registration) {
        console.log("success load");
      })
      .catch(function (err) {
        console.log(err);
      });
   }
</script>
</body>
</html>