p.notification-no {
    position: absolute;
    top: 0%;
    font-size: 9px;
    color: white;
    float: right;
    margin-left: 33%;
}
p.notification-no_1 {
    position: absolute;
    top: -1%;
    font-size: 9px;
    color: white;
    float: right;
    margin-left: 36%;
}

